{% extends "layout.html" %}

{% block title %}
    Teams
{% endblock %}

{% block main %}
    <form action="/teams" method="post">
        <div class="mb-3">
            <select autocomplete="off" autofocus class="form-control mx-auto w-auto" name="team_choice">
                <option disabled selected value="">Teams</option>
                {% for row in all_teams %}
                    <option>{{ row['name'] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <button class="btn btn-primary mr-1" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}