{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
<div class="container">
    <h2>Welcome to the NFL strength of schedule page!</h2>

    <p>On this page, you can navigate between each team's individual schedules, the schedule for each week of the 2022 regular season, 
        as well as the results for any games that have been played, and the preseason ratings for each team based on the elo formula
        that I have used. The preseason ratings are based on two season's worth of ratings.
    </p>
</div>
{% endblock %}