{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
<div class="container">
    <h2>Welcome to the NFL strength of schedule page!</h2>

    <p>On this page, you will find the fixtures for each week of the regular season,
        as well as each team's individual schedule. For each game, there will also be
        a strength rating for both teams, which indicates the rating of the team
        based on a mixture of last season's results and this year's games.
    </p>
</div>
{% endblock %}